<div>
    <button (click)="redirectToCreateGoalForm()" class="btn btn" style="font-weight: bold; background-color: #4b47b5; color: white; float: right; margin-right: 60px; margin-bottom: 20px;">Create Goals</button>
</div>
<div>
    <button (click)="redirectToDashboard()" class="btn btn" style="font-weight: bold; background-color: #4b47b5; color: white; float: left; margin-left: 85px; margin-bottom: 20px;"><i class="bi bi-arrow-left" style="margin-right: 10px;"></i>Back</button>
</div>

<!-- Goals card -->
<div class="container mt-5" style="width: 70rem; margin: 0 auto;">
    @if (allGoals.length > 0) {
        @for (goal of allGoals; track goal; let i = $index) {
        <div class="card text my-2" style="width: 70rem;  background-color: white;">
            <div class="card-body">
                <div class="d-flex justify-content-start">
                    <i class="bi bi-arrow-right-circle"
                        style="color: #4b47b5; font-weight: bold; font-size: 40px; margin: 10px;"></i>
                    <p>{{goal.description}}</p>
                </div>
                <div class="d-flex justify-content" style="margin-left:57px;"> <p class="card-text"
                    style="color: grey; font-weight: bold; margin-right: 10px; padding-right: 10px;border-right: 1px solid #ccc;">
                    <i class="bi bi-calendar"></i> {{getNumberOfDays(i) > 0 ? 'Due in ' + getNumberOfDays(i) + (getNumberOfDays(i) > 1 ? ' days' : ' day') : 'Overdue by ' + (getNumberOfDays(i) * -1) + ((getNumberOfDays(i) * -1) > 1 ? ' days' : ' day')}}
                </p>
                <p class="card-text"
                    style="color: grey; font-weight: bold; margin-right: 10px;padding-right: 10px;">
                    Status: {{goal.status}}</p></div>
                <div class="d-flex justify-content-end mt-1">
                    @if (goal.status !== 'Submitted') {
                    <button class="btn btn"
                        style="font-weight: bold; background-color: #4b47b5; color: white; margin-right: 10px;"
                        (click)="editGoal(i)">Edit
                        Goal</button>
                    } 
                </div>
            </div>
        </div>
        }
    } @else {
        <div style="display: flex; justify-content: center; align-items: center;">
            <h3>Click on Create Goals to get started</h3>
        </div>
    }
</div>