<h3 class="text-center">Reviews you have provided</h3>

<div class="container mt-4" style="width: 70rem; margin: 0 auto;">
    @if (reviews.length > 0) {
    @for (review of reviews; track review; let i = $index) {
    <div class="card text my-2" style="width: 70rem;  background-color: white;">
        <div class="card-body">
            <div class="d-flex justify-content-start">
                <i class="bi bi-arrow-right-circle"
                    style="color: #4b47b5; font-weight: bold; font-size: 40px; margin: 10px;"></i>
                <p>{{review.reviewComment}}</p>
            </div>
            <div class="d-flex justify-content" style="margin-left:57px;">
                <p class="card-text text-muted font-weight-bold me-3 pe-3 border-end">
                    <i class="bi bi-calendar"></i> Appraisal Year: {{review.cycleYear}}
                </p>

                <p class="card-text text-muted font-weight-bold me-3 pe-3 border-end">
                    <i class="bi bi-star-fill"></i> Rating: {{review.reviewRating}}
                </p>

                <p class="card-text text-muted font-weight-bold me-3 pe-3 border-end">
                    Status: {{review.status}}

                </p>

                <p class="card-text text-muted font-weight-bold me-3 pe-3">
                    Sent to: {{review.receiveName}}(Employee code: {{review.receiveId}})
                </p>


            </div>
            @if (review.isSaved) {
            <div class="d-flex justify-content-end mt-3">
                <button class="btn btn-primary font-weight-bold" (click)="editReview(review.userId, i)">
                    Edit review
                </button>
            </div>

            }
        </div>
    </div>}
    } @else {
    <div class="d-flex justify-content-center align-items-center">
        <h3>No provided Reviews yet.</h3>
    </div>
    }
</div>